* {
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
}
body {
  font-size: 2rem;
  text-align: center;
}

.container {
  border: 5px solid black;
  margin: 50px auto;
  width: 600px;
  padding: 2px;
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "nav main"
    "footer footer";
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1.3fr;
}

header {
  background-color: purple;
  padding: 60px 0;
  grid-area: header;
}

aside {
  grid-area: aside;
  background-color: green;
  padding: 60px 0;
}

nav {
  grid-area: nav;
  background-color: yellow;
  padding: 100px 0;
}

main {
  grid-area: main;
  background-color: blue;
  padding: 171px;
}

footer {
  grid-area: footer;
  background-color: grey;
  padding: 20px 0;
}
