* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-image: url(../img/carbon_fibre.png);
  color: #dfd0b8;
  font-family: "Ubuntu-Sans-Mono", sans-serif;
}

.topbar {
  background-color: #3c5b6f;
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 60px;
  position: fixed;
  z-index: 9999;
  top: 0;
}

.topbar a {
  font-size: 20px;
  color: #dfd0b8;
  padding-right: 30px;
}

.topbar a:hover {
  color: #e2dfd0;
}

.container {
  border: 5px solid #3c5b6f;
  background-color: #153448;
  border-radius: 20px;
  width: 960px;
  margin: 100px auto;
  position: absolute;
  left: 0;
  right: 0;
}

.header {
  padding-top: 10px;
}

.header h1 {
  text-align: center;
}

.image {
  height: 400px;
  background-image: url(../img/p.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.main {
  padding: 25px 10px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.main p {
  padding-bottom: 10px;
}

.main h2 {
  font-size: 23px;
}

.content {
  padding-left: 10px;
  width: 600px;
  float: left;
}

.content p {
  text-align: justify;
}

.penulis {
  font-size: 11px;
  color: #dfd0b8;
}

.penulis a {
  color: #dfd0b8;
}

.sidebar {
  float: right;
  width: 300px;
}

.sidebar img {
  height: 150px;
  margin-top: 24px;
  margin-right: 10px;
  float: left;
}

.sidebar p {
  margin-top: 24px;
  text-align: justify;
}

.contact {
  padding-left: 20px;
  padding-top: 25px;
}

.contact p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.copyright {
  margin-top: 35px;
  line-height: 50px;
  text-align: center;
  height: 50px;
  background-color: black;
  border: 1px solid black;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

/* Float Clearfix */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
