@mixin flex-box($direction: row, $space: flex-start) {
  display: flex;
  justify-content: $space;
  align-items: center;
  flex-direction: $direction;
}

@mixin inline-list {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    padding: 1rem;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

@mixin profile-picture($size, $circle: false) {
  width: $size;
  height: $size;
  border: 5px solid white;
  box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.6);

  @if $circle {
    border-radius: 50%;
  }
}

@mixin triangle($size, $color, $direction) {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: $size / 2;

  @if $direction == right {
    border-left-color: $color;
  } @else if $direction == left {
    border-right-color: $color;
  } @else if $direction == top {
    border-bottom-color: $color;
  } @else {
    border-top-color: $color;
  }
}
